
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;

}

.nav{
    background-color:rgb(10, 0, 10);
    color: black;
    padding: 30px;
    
    
}
.home{
    display: inline-block;
    padding: 10px;
    margin-left: 135px;
    color: aliceblue;
    font-size: 17px;
}

.first{
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    color: black;
    
}
.home:hover{
    background-color: aliceblue;
    color: black;
    padding: 100%x;
    text-align: center;
    cursor: pointer;
}



.im1{
    background-image: url(./image/im1.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.ims{
    display: inline-flex;
    padding: 40px;
}
.im3, .im4{
    padding-left: 75px;

}
.black{
    background-color: black;
    padding: 2%;
    background-size: cover;
    height: 500px;
}
.par{
    width: 41%;
    height: 10%;
    display: inline-block;
    color: aliceblue;
    position: absolute;
    bottom:-75%;
}
.im5{
    display:inline-block;
    width: 45%;
    margin:1%;
    position: absolute;
  
  right: 10%;
}
    